<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>  
  <thead>
    <th><%= f.label :password %></th>
    <th><%= f.label :email %></th>
  </thead>
  <tbody>
    <td><%= f.text_field :password %></td>
    <td><%= f.text_field :email %></td>
  </tbody>
</table>
  <div class="actions">
    <%= f.submit %>
<% end %>
