<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <thead>
    <th><%= f.label :Name %></th>
    <th><%= f.label :Summary %></th>
    <th><%= f.label :user_id %></th>
    <th><%= f.label :Date %></th>
  </thead>
  <tbody>
    <th><%= f.text_field :Name %></th>
    <th><%= f.text_area :Summary %></th>
    <th><%= f.text_field :user_id %></th>
    <th><%= f.date_select :Date %></th>
  </tbody>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
